<%# locals: (id:, count:, variant: :default, wrapper_class: nil) %>
<% wrapper = variant == :overlay ? "pointer-events-none absolute -right-1 -top-1 flex min-h-[1.125rem] min-w-[1.125rem] items-center justify-center" : "inline-flex min-w-0 items-center" %>
<span id="<%= id %>" class="<%= [ wrapper, wrapper_class ].compact.join(' ') %>">
  <%= render "shared/cart_nav_count", count: count, compact: (variant == :overlay) %>
</span>
