<% content_for :title, t("carts.title") %>

<div class="max-w-6xl">
  <h1 class="section-heading-md"><%= t("carts.heading") %></h1>

  <div id="cart-page-body">
    <%= render "carts/page_body" %>
  </div>
</div>
